<app-card [title]="title"> 
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Bandeira</th>
          <th scope="col">Media Valor Compra</th>
          <th scope="col">Media Valor Venda</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Mvcb of mvcb">
          <td>{{ Mvcb.bandeira }}</td>
          <td>R$ {{ Mvcb.Media_Valor_Compra }}</td>
          <td>R$ {{ Mvcb.Media_Valor_Venda }}</td>
        </tr>
      </tbody>
    </table>
  
  </app-card>