<div class="menu menu-open">
   <ul>
     <li class="visible-xs"><a href="#">Sair</a></li>
     <li><a routerLink="index">Usuarios</a></li>
     <li><a routerLink="/mediaBase">media com base municipio</a></li>
     <li><a routerLink="/sigla">informações por sigla da região</a></li>
     <li><a routerLink="/distribuidora">dados agrupados por distribuidora</a></li>
     <li><a routerLink="/coleta">dados agrupados pela data da coleta</a></li>
     <li><a routerLink="/município">médio de valores por município</a></li>
     <li><a routerLink="/bandeira">médio de valores por bandeira</a></li>
   </ul>
</div>
