<div class="menu menu-open">
   <ul>
     <li><a routerLink="index">Usuarios</a></li>
     <li><a routerLink="/mediaBase">media com base <br>municipio</a></li>
     <li><a routerLink="/sigla">informações por  <br>sigla da região</a></li>
     <li><a routerLink="/distribuidora">dados agrupados  <br>por distribuidora</a></li>
     <li><a routerLink="/coleta">dados agrupados  <br>pela data da coleta</a></li>
     <li><a routerLink="/município">médio de valores <br> por município</a></li>
     <li><a routerLink="/bandeira">médio de valores <br> por bandeira</a></li>
   </ul>
</div>
