<app-card [title]="title"> 
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Cnpj</th>
          <th scope="col">Bandeira</th>
          <th scope="col">Revenda</th>
          <th scope="col">Tipo</th>
          <th scope="col">UND de Medida</th>
          <th scope="col">Media Valor Compra</th>
          <th scope="col">Media Valor Venda</th>
          <th scope="col">Estado</th>
          <th scope="col">Municipio</th>
          <th scope="col">Regiao</th>
          <th scope="col">Data de Coleta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Dac of dac">
          <td>{{ Dac.cnpj }}</td>
          <td>{{ Dac.bandeira }}</td>
          <td>{{ Dac.nome_revenda }}</td>
          <td>{{ Dac.tipo }}</td>
          <td>{{ Dac.und_medida }}</td>
          <td>R$ {{ Dac.Media_Valor_Compra }}</td>
          <td>R$ {{ Dac.Media_Valor_Venda }}</td>
          <td>{{ Dac.estado }}</td>
          <td>{{ Dac.municipio }}</td>
          <td>{{ Dac.regiao }}</td>
          <td>{{ Dac.data_coleta }}</td>
        </tr>
      </tbody>
    </table>
  
  </app-card>